#projectCardsWrapper {
    /* background-color: rgb(91, 91, 152); */
    position: relative;
    width: fit-content;
    transition: all 1s;
    margin: 1rem;
    /* padding: 2rem; */
}

#projectCardsWrapper>img {
    max-height: 20rem;
    object-fit: cover;
}

#projectCardsWrapper>img:hover {
    transition: ease-in-out .5s;
    transform: scale(.95);
}

.caption {
    position: absolute;
    background-color: var(--main-bg);
    transition: all 5s;
    display: none;
    z-index: 7;
    padding: 1rem;
}

#projectCardsWrapper:hover .caption {
    animation: hideMe 1s forwards;
    display: block;
    bottom: -1rem;
}
@keyframes hideMe{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}