.lists {
  background: rgb(177, 151, 119);
  background: linear-gradient(0deg, rgba(177, 151, 119, 1) 0%, rgba(39, 39, 39, 0.9349790941767332) 100%);
  padding: 2rem;
  border-radius: 20px;
}

.lists>li {
  color: whitesmoke;
  font-size: 1.5rem;
  line-height: 5rem;
  list-style: square;
}

@media screen and (max-width:1024px) {
  .lists>li {
    font-size: 1rem;
    line-height: 3rem;
  }

  .lists {
    width: 100%;
  }
}